.edit-page {
    .buttons {
        display: grid;
        grid-auto-flow: column;
        margin-top: 5px;
        column-gap: 10px;   

        button {
            padding: 0.5rem 1rem;
        }

        .confirmation-dialog {
            position: absolute;
            top: 0;
            display: none;
            border: none;
            width: 100%;
            height: 100%;
            background-color: #00000020;
            backdrop-filter: blur(10px);
            place-items: center;

            &.open {
                display: grid;
            }
            
            .modal {
                padding: 2rem 3rem;
                background-color: #fff;
                border: thin solid #000;
                border-radius: 0.5rem;
            }
        }
    }
}
