.post-page {
    .title {
        text-align: center;
        margin: 10px 0 5px;
    }

    time {
        text-align: center;
        display: block;
        font-size: 0.7rem;
        color: #aaa;
    }

    .author {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        font-size: 0.7rem;
        font-weight: bold;
    }

    .edit {
        text-align: center;
        margin-bottom: 20px;

        a {
            display: inline-flex;
            align-items: center;
            column-gap: 5px;
            color: #fff;
            background-color: #333;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 0.8rem;

            svg {
                height: 20px;
            }

            &:hover {
                background-color: #111;
            }
        }
    }

    .image {
        max-height: 225px;
        display: flex;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .content {
        p {
            line-height: 1.6rem;
            margin: 15px 0;

            a {
                color: #333;
                text-decoration: underline;
            }
        }
    }
}
